.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 2px;
    justify-content: center;
    margin-bottom: 10px;
  }

.cell {
    width: 80px;
    height: 80px;
    font-size: 36px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}